@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

@layer base {
  :root {
    --background: 30 50% 98%;
    --foreground: 240 10% 3.9%;

    --card: 30 50% 96%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 160 100% 24%;
    --primary-foreground: 0 0% 100%;

    --secondary: 25 95% 61%;
    --secondary-foreground: 0 0% 100%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 45 92% 55%;
    --accent-foreground: 240 10% 3.9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 160 100% 24%;

    --radius: 0.75rem;

    --background-start-rgb: 150, 242, 221;
    --background-end-rgb: 249, 249, 246;

    --user-bubble: 130 100% 97%;
    --user-bubble-foreground: 240 10% 3.9%;
    --assistant-bubble: 200 92% 94%;
    --assistant-bubble-foreground: 240 10% 3.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 160 100% 34%;
    --primary-foreground: 0 0% 100%;
    --secondary: 25 95% 61%;
    --secondary-foreground: 0 0% 100%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 45 92% 55%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 160 100% 34%;
    --radius: 0.75rem;

    --background-start-rgb: 222, 84%, 4.9%;
    --background-end-rgb: 222, 84%, 4.9%;

    --user-bubble: 222.2 84% 8%;
    --user-bubble-foreground: 210 40% 98%;
    --assistant-bubble: 217.2 32.6% 12.5%;
    --assistant-bubble-foreground: 210 40% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-shadow-sm {
    text-shadow: 1px 1px 2px theme('colors.gray.300');
  }
  .dark .text-shadow-sm {
    text-shadow: 1px 1px 2px theme('colors.black / 50%');
  }
}
